<section class="customers">
  <div class="container customers__container">
    <div class="customers__head">
      <h2 class="customers__head-title heading-h2">
        Meet our team of creators, designers, and world-class problem solvers
      </h2>
      <p class="customers__head-descr text-p-medium">To become the company that customers want, it takes a group of
        passionate people. Get to know the people who lead</p>
    </div>
    <div class="customers__slider">
      <div class="swiper-wrapper customers__wrapper">
        <div class="swiper-slide customers__slide">
          <img class="customers__slide-img" src="./assets/image/customers/customers-slide-1.jpg" alt="Arlyne Stefano">
          <div class="customers__slide-head">
            <div class="customers__slide-customer-info">
              <div class="customers__slide-name text-p-large">Arlyne Stefano</div>
              <p class="customers__slide-prof text-p-medium">Founder & CEO</p>
            </div>


            <div class="customers__slide-socials">
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/twitter-icon.svg"
                  alt="twitter icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/ln-icon.svg"
                  alt="linkedin icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/inst-icon.svg"
                  alt="instagram icon"></a>
            </div>


          </div>
        </div>
        <div class="swiper-slide customers__slide">
          <img class="customers__slide-img" src="./assets/image/customers/customers-slide-2.jpg" alt="Katy Cristy">
          <div class="customers__slide-head">
            <div class="customers__slide-customer-info">
              <div class="customers__slide-name text-p-large">Katy Cristy</div>
              <p class="customers__slide-prof text-p-medium">Chief Technology Officer</p>
            </div>
            <div class="customers__slide-socials">
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/twitter-icon.svg"
                  alt="twitter icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/ln-icon.svg"
                  alt="linkedin icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/inst-icon.svg"
                  alt="instagram icon"></a>
            </div>
          </div>

        </div>
        <div class="swiper-slide customers__slide">
          <img class="customers__slide-img" src="./assets/image/customers/customers-slide-3.jpg" alt="Roger Dzawin">
          <div class="customers__slide-head">
            <div class="customers__slide-customer-info">
              <div class="customers__slide-name text-p-large">Roger Dzawin</div>
              <p class="customers__slide-prof text-p-medium">Chief Technology Officer</p>
            </div>
            <div class="customers__slide-socials">
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/twitter-icon.svg"
                  alt="twitter icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/ln-icon.svg"
                  alt="linkedin icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/inst-icon.svg"
                  alt="instagram icon"></a>
            </div>
          </div>

        </div>
        <div class="swiper-slide customers__slide">
          <img class="customers__slide-img" src="./assets/image/customers/customers-slide-1.jpg" alt="">
          <div class="customers__slide-head">
            <div class="customers__slide-customer-info">
              <div class="customers__slide-name text-p-large">Arlyne Stefano</div>
              <p class="customers__slide-prof text-p-medium">Founder & CEO</p>
            </div>
            <div class="customers__slide-socials">
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/twitter-icon.svg"
                  alt="twitter icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/ln-icon.svg"
                  alt="linkedin icon"></a>
              <a class="customers__slide-link" href="/"><img src="./assets/icons/customers/inst-icon.svg"
                  alt="instagram icon"></a>
            </div>
          </div>

        </div>
      </div>
      <button class="customers__btn customers__btn--prev"><svg width="16" height="13" viewBox="0 0 16 13" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.73659 12.5364C7.38512 12.8879 6.81527 12.8879 6.4638 12.5364L1.0638 7.13638C0.712326 6.78491 0.712326 6.21506 1.0638 5.86359L6.4638 0.463591C6.81527 0.112118 7.38512 0.112118 7.73659 0.463591C8.08806 0.815062 8.08806 1.38491 7.73659 1.73638L3.87299 5.59999L14.3002 5.59999C14.7973 5.59999 15.2002 6.00293 15.2002 6.49999C15.2002 6.99704 14.7973 7.39999 14.3002 7.39999L3.87299 7.39999L7.73659 11.2636C8.08806 11.6151 8.08806 12.1849 7.73659 12.5364Z"
            fill="#CED1D8" />
        </svg></button>
      <button class="customers__btn customers__btn--next"><svg width="16" height="13" viewBox="0 0 16 13" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.73659 12.5364C7.38512 12.8879 6.81527 12.8879 6.4638 12.5364L1.0638 7.13638C0.712326 6.78491 0.712326 6.21506 1.0638 5.86359L6.4638 0.463591C6.81527 0.112118 7.38512 0.112118 7.73659 0.463591C8.08806 0.815062 8.08806 1.38491 7.73659 1.73638L3.87299 5.59999L14.3002 5.59999C14.7973 5.59999 15.2002 6.00293 15.2002 6.49999C15.2002 6.99704 14.7973 7.39999 14.3002 7.39999L3.87299 7.39999L7.73659 11.2636C8.08806 11.6151 8.08806 12.1849 7.73659 12.5364Z"
            fill="#CED1D8" />
        </svg></button>

    </div>

    <div class="customers__info">
      <h2 class="customers__info-title heading-h2">Join our team, The one with the master touch</h2>
      <div class="customers__info-descr">
        <p class="customers__info-text text-p-medium">We believe it takes great people to make a great product. That’s
          why we hire not
          only the perfect professional fits, but people who embody our company values.</p>
        <a class="customer__info-link text-p-default" href="/">See Open Position -></a>
      </div>

    </div>
  </div>
</section>