<section class="customers">
  <div class="container">
    <div class="customers__head">
      <h2 class="customers__head-title heading-h2">
        Meet our team of creators, designers, and world-class problem solvers
      </h2>
      <p class="customers__head-descr text-p-medium">To become the company that customers want, it takes a group of
        passionate people. Get to know the people who lead</p>
    </div>
    <div class="customers__slider">
      <div class="customers__slide"></div>
    </div>

  </div>
</section>