<section class="ideas">
  <div class="container ideas__container">
    <div class="ideas__slider">
      <div class="swiper-pagination ideas__slider-pagination">
        <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.0001 2.33325L25.6667 8.99992L19.0001 15.6666M9.00008 15.6666L2.33341 8.99992L9.00008 2.33325" stroke="#1D1E25" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="swiper-wrapper ideas__wrapper">
        <div class="swiper-slide ideas__article">
          <img class="ideas__img" width="502" height="629" src="./assets/image/about/about-slide-1.jpg" alt="notebook and coffee">
        </div>
        <div class="swiper-slide ideas__article">
          <img class="ideas__img" width="502" height="370" src="./assets/image/about/about-slide-2.jpg" alt="presentation">
          <h5 class="ideas__slide-title heading-h5">What we believe in</h5>
          <p class="ideas__slide-descr text-p-medium">Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us such an effective team, and...</p>
          <button class="ideas__slide-btn button-form">See Details -></button>
        </div>
        <div class="swiper-slide ideas__article">
          <img class="ideas__img" width="506" height="460" src="./assets/image/about/about-slide-3.jpg" alt="notebook and girl">
        </div>
        <div class="swiper-slide ideas__article">
          <img class="ideas__img" src="./assets/image/about/about-slide-1.jpg" alt="notebook and coffee">
        </div>
      </div>

    </div>
  </div>
</section>