.advantages {
    padding: 120px 0px 120px;
    background-color: var(--black-bg-color);

    &__container {
        display: flex;
        gap: 32px;
        @include mobile {
          display: block;
        }
    }

    &__image {
        &-title {
            margin: 24px 0 24px 0;
            color: #fff;
            max-width: 583px;
            font-weight: 600;
        }
        &-text {
            max-width: 515px;
            font-weight: 500;
            color: #7e8492;
        }

        &-first,
        &-third {
            margin-bottom: 159px;

            @include mini-desktop {
              margin-bottom: 120px;
            }

            @include small-tablet {
              margin-bottom: 90px;
            }
        }
    }
    &__image img {
      @include mobile {
        display: none;
      }
    }
}
