<section class="hero">
  <div class="container">
    <h1 class="hero__title heading-h1">
      Activity & Updates
    </h1>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br>
      always designing and building products that <br>
      will help you run your
      business better.
    </p>

    <div class="hero__slider">

      <div class="hero__tabs">
        <button class="hero__tabs-item active js-tab-trigger" data-tab="all">View all</button>
        <button class="hero__tabs-item js-tab-trigger" data-tab="design">Design</button>
        <button class="hero__tabs-item js-tab-trigger" data-tab="articles">Articles</button>
        <button class="hero__tabs-item js-tab-trigger" data-tab="product">Product</button>
        <button class="hero__tabs-item js-tab-trigger" data-tab="software">Software
          Development</button>
        <button class="hero__tabs-item js-tab-trigger" data-tab="success">Customer Success</button>
      </div>

      <div class="swiper-wrapper hero__content">

        <div class="swiper-slide hero__content-item js-tab-content" id="design">
          <img class="ideas__img" src="./assets/image/blog/blog-slide-1.jpg" alt="notebook and coffee">
        </div>
        <div class="swiper-slide hero__content-item active js-tab-content" id="articles">
          <img class="ideas__img" src="./assets/image/blog/blog-slide-2.jpg" alt="notebook and coffee">
        </div>
        <div class="swiper-slide hero__content-item js-tab-content" id="product">
          <img class="ideas__img" src="./assets/image/blog/blog-slide-3.jpg" alt="notebook and coffee">
        </div>
        <div class="swiper-slide hero__content-item js-tab-content" id="software">
          <img class="ideas__img" src="./assets/image/blog/blog-slide-4.jpg" alt="notebook and coffee">
        </div>
        <div class="swiper-slide hero__content-item js-tab-content" id="success">
          <img class="ideas__img" src="./assets/image/blog/blog-slide-5.jpg" alt="notebook and coffee">
        </div>

      </div>
      <button class="hero__btn hero__btn--prev"><svg width="16" height="13" viewBox="0 0 16 13" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.73659 12.5364C7.38512 12.8879 6.81527 12.8879 6.4638 12.5364L1.0638 7.13638C0.712326 6.78491 0.712326 6.21506 1.0638 5.86359L6.4638 0.463591C6.81527 0.112118 7.38512 0.112118 7.73659 0.463591C8.08806 0.815062 8.08806 1.38491 7.73659 1.73638L3.87299 5.59999L14.3002 5.59999C14.7973 5.59999 15.2002 6.00293 15.2002 6.49999C15.2002 6.99704 14.7973 7.39999 14.3002 7.39999L3.87299 7.39999L7.73659 11.2636C8.08806 11.6151 8.08806 12.1849 7.73659 12.5364Z"
            fill="#CED1D8" />
        </svg></button>
      <button class="hero__btn hero__btn--next"><svg width="16" height="13" viewBox="0 0 16 13" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.73659 12.5364C7.38512 12.8879 6.81527 12.8879 6.4638 12.5364L1.0638 7.13638C0.712326 6.78491 0.712326 6.21506 1.0638 5.86359L6.4638 0.463591C6.81527 0.112118 7.38512 0.112118 7.73659 0.463591C8.08806 0.815062 8.08806 1.38491 7.73659 1.73638L3.87299 5.59999L14.3002 5.59999C14.7973 5.59999 15.2002 6.00293 15.2002 6.49999C15.2002 6.99704 14.7973 7.39999 14.3002 7.39999L3.87299 7.39999L7.73659 11.2636C8.08806 11.6151 8.08806 12.1849 7.73659 12.5364Z"
            fill="#CED1D8" />
        </svg></button>
    </div>


  </div>


  </div>
</section>