@import 'vars' ;


.body {
    &__title {
        color: var(--vars-color);
        &:hover {
            color: blue;
        }

        @media (max-width: 1000px) {
            color: green;
        }
    }
}
