.hero {
    position: relative;
    padding: 90px 0 160px;

    &__title {
        margin-bottom: 118px;
        max-width: 959px;
        font-weight: 700;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
    }

    &__subtitle {
      &::before {
        content: '';
        display: inline-block;
        width: 76px;
        height: 1px;
        background-color: var(--neutral-color-100);
        transform: translateY(-83px);

      @include mini-desktop {
        display: none;
      }
        
    }
    }

    &__img {
        position: absolute;
        right: 20%;
        bottom: 22%;
    }
}
